pid_file = "/tmp/pidfile"

vault {
  address = "https://vault.example.com"
  tls_skip_verify = true
}

auto_auth {
  method "approle" {
    mount_path = "auth/approle"
    config = {
      role_id_file_path   = "/tmp/role-id"
      secret_id_file_path = "/tmp/secret-id"
      remove_secret_id_file_after_reading = false
    }
  }
  
  sink "file" {
    config = {
      path = "/vault/secrets/.vault-token"
      mode = 0600
    }
  }
}

template {
  source      = "/vault/config/templates/mediacli.env.tpl"
  destination = "/vault/secrets/mediacli.env"
  perms       = 0644
  command     = "echo Mediacli secrets updated by Vault Agent"
}
